<!DOCTYPE html>
<html>
  <head>
    <title>CREATE A MINIDISC</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    
  </head>
  <body>
    Here I can create a new MiniDisc
    <form>
      Artist: <input type="text" name="artist" value="">
      Title: <input type="text" name="title" value="">
      Genre: <input type="text" name="genre" value="">
      Description: <input type="text" name="description" value="">
      Cover URL: <input type="text" name="cover_url" value="">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
